*{
    margin: 0px;
}

body{
    width: 98%;
}
.men{
    text-align: center;
}

/* .wrapper {
    display: flex;
} */

#how{
     /* margin-left: 55px; */
     max-width: 31vw;
     margin-top: 15px;
}

.centertext, .access, .footertext {
    color: white;
}

.footertext{
   margin-top: 35vh;
   padding-left: 55px;
}

.logo img {
    height: 120px;
    width: 120px;
    padding-top: 40px;
    padding-left: 50px;
}

.centertext{
    padding-left: 55px;
    margin-top: 80px;
}

.centertext h2{
    font-size: 20px;
    max-width: 30vw;
}

.conc{
    max-width: 40vw;
    width: 100%;
    margin: auto;
    /* max-height: 90vh; */
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}

.footertext{
    vertical-align: baseline;
}

.concontent{
    /* border: 2px solid black; */
    max-width: 40vw;
    width: 100%;
    margin:25px auto;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container1 a {
    color: gray;
}

.container a:hover{
    color: black;
    cursor: pointer;
}

.gal {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 17px;
}
.d-grid {
    padding-top: 45px;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

.container1, .or{
    text-align: center;
    padding: 25px 0 25px 0;
}
a #input {
    margin-top: 15px;
}

.full-img{
    background-image: url(../img/min.jpg);
    /* position: fixed; */
    background-size: cover;
    background-position: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-width: fit-content;
    

}
a button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    background-color: rgb(13,108,227);
    color: white;
    border-radius: 7px;
    width: 500px;
    padding: 5px;
}

a {
    text-decoration: none;
}

 .boy button{
    width: 500px;
    padding: 15px;
    border-radius:3px;
    border: 0px;
    background-color: rgb(17, 17, 17);
    color: white;
    margin: 13px;
}

.boy #flex {
    width: 477px;
    padding: 10px;
    margin-left: 13px;
    border-radius:7px;
    
}

.boy input {
    margin-top:10px;
    margin-bottom:15px;
}

 #men{
     display: flex;
    justify-content: center;
    margin-top: 15px;
 }

#good {
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
    text-decoration:  underline grey;
    margin-top: -15px;
}

#good a {
    color: grey;
}